@model EmployeeViewModel 


<form asp-action="Add" method="post">
    
    <div class="form-floating">
        <label asp-for="Ename"> EmployeeName</label>
        <input asp-for="Ename" />
        </div>
   
    <div>
    @Html.DropDownList("DepartmentIds","Select Department")
        </div>
    <input type="submit" value="Submit" />

</form>