@model EmployeeViewModel 


<form asp-action="Add" method="post">

    <input asp-for="Ename" />
   
    <select asp-for="DepartmentId"
            asp-items="@(new SelectList(Model.DepartmentList,"DepartmentId","DeptName"))">
        <option>Please select one</option>
    </select>

    <div>
        
    </div>

</form>