@model IEnumerable<Department>

<table class="table  table table-bordered border-primary">
<thead>
    <tr>
        <th scope="col">DepartmentId</th>
        <th scope="col">Department Name</th>
        <th scope="col">Employee Name</th>
    </tr>
</thead>

@foreach (var dept in Model)
{
    <tr>

        <td> @dept.DepartmentId</td>
        <td> @dept.DeptName</td>
        @foreach (var employee in dept.Employees)
        {
            <td>
                <div class="col-4">
                    @employee.Ename
                </div>
            </td>
        }
    </tr>

}


    </table>