@{
    ViewData["Title"] = "Home Page";
}

<figure class="text-center">
    <blockquote class="blockquote">
        <p> CHECK OUT OUR NAVIGATION MENU </p>
    </blockquote>
    <figcaption class="blockquote-footer">
      <h1> LETS PERFORM CURD OPERATIONS ON <cite title="Source Title"> Related Entities</cite> </h1>
    </figcaption>
</figure>

<div>
    <a class="btn-primary" asp-page="/AddMultipleData" type="submit" >Go </a>
</div>