@model IEnumerable<string>

@foreach(var item in Model)
{

    <a class="btn btn-block
@(item.Equals(ViewBag.SelectedDept) ? "btn-primary": "btn-outline-secondary") "
       asp-action="Index" asp-controller="Department"
       asp-route-category="@item" >
        @item</a>

        
}

